.container {
   display: flex;
   justify-content: center;
   }

   .box {
     margin: 0.8em;
     padding: 0.7em;
     flex-basis: 30%;
   }

   #output {
     border: solid 1px gray;
   }

   @media (max-width: 1200px) {
    .box {
      flex-basis: 50%
    }
   }

   @media (max-width: 750px) {
    .container {
      flex-direction: column;
    }
    .box {
      flex-basis: 90%
    }
   }